<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         printerClass="Sempro\PHPUnitPrettyPrinter\PrettyPrinterForPhpUnit9"
>
    <coverage>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="APP_DEBUG" value="true"/>
        <server name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
        <env name="DB_HOST" value="mysql"/>
        <server name="DB_USERNAME" value="root"/>
        <server name="PERFECTDAYLLC_TWILIO_A2P_BUNDLE_ENTITY_MODEL" value="PerfectDayLlc\TwilioA2PBundle\Tests\Fake\Models\Entity"/>
        <env name="PHPUNIT_PRETTY_PRINT_PROGRESS" value="true"/>
    </php>
</phpunit>
